{%extends 'base.html'%}

{% block content %} 
{{ block.super}}

<div id="flex">
    {% for photo in photos %}
<div class="card" style="width: 25vw;">
    <a href="query/photo/{{ photo.id }}"><img src="{{ photo.image.url }}" class="img-responsive" alt="Image" id="img"></a>
    <div class="card-body">
        <h3 class="text-center height"> {{ photo.image_name }} </h3>
        <p class="width">{{ photo.location }}</p>
    </div>
</div>

{% empty %}
  <div class="row">
    <h2 class="text-center">There No Photo Items</h2>
  </div>
  {% endfor %}
</div>

{% endblock %}