{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container border p-5">
    <h1 class="display-1">Welcome to Catchy Photos</h1>
    <p class="text-center">Here, we’ve scoured the web for today’s leading photography blogs and broken them down by category to make it super easy to scroll through and find the right ones for your specific interests and needs. Just click on any category in the table below to jump down to that section and read about the top blogs on it. Bear in mind, sometimes it was difficult to choose only one category for some of these, so we did our best to pick the best one for what the blog offers.</p>
    <p class="text-center">Due to the amount of content on this blog, you may experience longer loading times, but that should not detract you from appreciating all of the content that it has to offer. This is an ideal blog for beginners as well as intermediate photographers and can teach you how to improve your skills and craft. The crew at Photodoto talks in-depth about the correct tools that you will need to be successful in photography; as we all know, having the right tools can either make or break any project. While there are some helpful tips about technique, the spotlight is on the tools used.</p>
</div>

{% endblock %}