{% extends 'base.html' %}

{% block content %}
{{ block.super}}

<div id="myModal" class="">
    <h1>Modal works</h1>

    <!-- The Close Button -->
    <span class="close">&times;</span>
  
    <div id="flex">
        <div>
            <img src="{{photo.image.url}}" class="modal-content" id="img01">
        </div>
        
        <div id="ex">
            <p><span class="fst-italic">Name of the photo: </span>{{ photo.image_name }}</p>
            <p><span class="fst-italic">Location where taken: </span>{{ photo.location }}</p>
            <p><span class="fst-italic">A little about: </span>{{ photo.description }}</p>
            <p><span class="fst-italic">Photo category: </span>{{ photo.category.category }}</p>
            <p><span class="fst-italic">Link: </span>{{ request.get_full_path }}</p>
        </div>
    </div>
</div>

{% endblock %}