{%extends 'base.html'%} 

{% block content %}

<div class="container">

  <div class="row">
    {% if photos%}
      <h2>Found {{ photos|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 articles for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if photos %}
    {% for photo in photos %}
      <div class="col-sm-6 col-md-3" style="width: 30vw;">
          <a href="query/photo/{{ photo.id }}/"><img src="{{ photo.image.url }}" style="width: 30vw; height: 50vh;"></a>
          <p>{{ photo.image_name }}</p>

          {% for k in photo.category.all %}
          <p>{{ photo.k }}</p>
          {% endfor %}
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>

{% endblock %}