#flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#img{
    height: 25vh;
    width: 25vw;
}
.card{
    margin-left: 1vw;
}
#fle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nav-item{
    margin-left: 5vw;
}
/*"/static/img/sample.jpeg"*/
#img01{
    width: 60vw;
    height: 70vh;
}
#ex{
    width: 30vw;
}
.navbar-inverse{
    background-color: black;
}
.rem{
    font-size: 1.5rem;
}
.fst-italic{
    font-size: 1rem;
}
.card-body{
    display: flex;
    flex-direction: column;
}
.width{
    height: 2vh;
    display: flex;
    align-items: flex-end;
}
.height{
    height: 15vh;
}